<br><h4>Welcome to Uploading</h4>
<form action="/upload/{{upload['id']}}/apply" method= "post">
  <div class = "mb-0">
  <label> Full Name</label><br>
  <input type="text" name="full_name" placeholder="Peter Parker">
  </div>

  <div class = "mb-0">
  <br><label> Email</label><br>
  <input type="text" name="email" placeholder="peterparker@gmail.com">
  </div>

  <div class = "mb-0">
  <br><label> Certification Name</label><br>
  <input type="text" name="certification_name" placeholder="Web Development">
  </div>

  <div class = "mb-0">
  <br><label> Certificate Issuing Authority</label><br>
  <input type="text" name="certificate_issuing_aurhority" placeholder="Jovian">
  </div>

  <div class= "mt-4">
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile">
    <br><input type="submit">
  </div>


  
</form>

