<!DOCTYPE html>
<html>
  <head>
    <title>Naveed Docustore</title>
    {% include 'bootstrap.html' %}
    <link rel="icon" type="image/x-icon" href="https://naveed-documentstore-website.captainawesome7.repl.co/static/favicon.ico">
    
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class= "text-center mt-2 mb-4"> Naveed Docustore </h1 >
      <img class="img-fluid" id="banner" scr="https://naveed-documentstore-website.captainawesome7.repl.co/static/banner.jpeg">
      <h2 class= "text-center">About</h2>
      <p class="text-center lead" >Store your most important documents online with our new, safe and easily accessible interface. We have great support and most importantly it is easy and free!
      </p>
      <h2 class= "text-center mt-2">What you can store</h2>
      <div>
        {% for upload in uploads %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg mt-4" href="mailto:hello@naveed.com?subject=Need%20more%20info&body=Hello%20there!%0D%0A%0D%0AI%20want%20to%20connect%20for%20more%20info%20on%20the%20various%20amazing%20services%20you%20have." >Contact</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
  
</html>