<!DOCTYPE html>
<html>
  <head>
    <title>{{upload.title}} - Naveed Docustore</title>
    {% include 'bootstrap.html' %}
    <link rel="icon" type="image/x-icon" href="https://naveed-documentstore-website.captainawesome7.repl.co/static/favicon.ico">
  </head>
  <body>
    {% include 'nav.html' %}
     
    <div class="container">
      <h1 class= "text-center mt-2 mb-4"> Naveed Docustore </h1 >
      <div class="d-flex justify-content-center">
        <img class="img-fluid" id="upload_banner" src="https://naveed-documentstore-website.captainawesome7.repl.co/static/upload banner.jpeg">
      </div>
     
      <h3 class="text-center ">{{upload.title}}</h3>
      <h3>Price</h3>
      <p class= "lead mt-0">{{upload.price}}</p>
      <h4>Uploads</h4>
      <p class= "lead">{{upload.uploads}}</p>
      <h4>Features</h4>
      <p class= "lead">{{upload.features}}</p>
      
      {% include 'application_form.html' %}
    </div>

    {% include 'footer.html' %}
  </body>
  
</html>